<h1>Hey Love!</h1>
<p>The itme is <%= Time.now %></p>

<h2> How aboup you look at meee! </h2>
<div>
<%= jwplayer({
	width: 500, 
	height: 200,
	file: "rtmp://192.241.236.196/live/test"
}) %>
</div>


